<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= title %></title>
  <link rel="preconnect" href="https://img1.doubanio.com">
  <link rel="preconnect" href="https://img2.doubanio.com">
  <link rel="preconnect" href="https://img3.doubanio.com">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header class="topbar">
    <a href="/" class="brand"><%= siteName %></a>
  </header>
